.THIS .custom-heading {
  font-size: 20px;  
}
.THIS.slds-modal__container {
  max-width: 100%;
  width: 70%;
}
.THIS.modal-body {
  height: 100% !important;
  min-height: 450px !important;
}
.THIS .slds-datepicker .slds-day {    
    display : contents;
    position: absolute;
    z-index: 10000;
    left: -0.71875px;    
}
